<div class="tech-btm">
    <img src="/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Haber bültenimize abone olun</h4>
    <p>Teknoloji, yazılım ve diğer bloglar.. </p>
    <form action="/NewsLetters/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
</div>